.dashboard_container {
  background-color: var(--backgroundColor);
  height: 100vh;
}
.data_block {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  background-color: #fff;
}
.block_icon {
}

.script_box {
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 8px;
}

.new_promotion {
  border-radius: 19px;
  background: #ededed;
  box-shadow: 26px 26px 53px #d1d1d1, -26px -26px 53px #ffffff;
}
