.forum_container {
    background: var(--forumBackgroundColor);
    height: 100vh;
    overflow-y: scroll;
}

.content_layout {
    width: 100%;
    max-width: 1075px;
}

.forum_header {
    background: #fff;
}

.menu_bar {
    height: 48px;
}

.navigation_bar {
    height: 40px;
}

.search_box {
    flex: 1 1 0%;
}

.navigation_item {
    font-size: 16px;
    margin-right: 32px;
    color: var(--secondaryTextColor);
}

.navigation_item_active {
    color: rgb(32, 33, 36);
    border-bottom: 4px solid rgb(32, 33, 36);
}

.right_sidebar {
    width: 271px;
}

.main_content {
    flex: 1 1 0%;
}

.category_list {}

.category_item {
    padding: 8px 16px;
    border: 1px solid rgb(228, 228, 228);
    background-color: #fff;
    color: var(--secondaryTextColor);
    border-radius: 25px;
}

.category_item__active {
    background-color: rgb(144, 144, 144);
    color: #fff;
}

.post_item {
    padding: 16px;
    border: 1px solid rgb(228, 228, 228);
    background-color: #fff;
    /* color: var(--secondaryTextColor); */
    border-radius: 10px;
    margin-bottom: 16px;
}

.post_item:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.post_body {
    flex: 1 1 0%;
}

.post_title {}

.post_action_button {
    display: flex;
    @apply gap-1;
    @apply items-center;
}