<div class="ads_offer_list">
  @for (adsOffer of adsOfferList; track adsOffer) {
  <div class="ads_offer_item p-4 my-2">
    <div class="flex justify-between">
      <div>
        <b class="text-[16px]">{{ adsOffer?.name }}</b>
        <p class="text-[#00000073]">{{ adsOffer?.note }}</p>
      </div>
      <div *ngIf="listType === AdsOfferListType.All">
        <button
          nz-button
          nzType="default"
          class="mr-2"
          (click)="showTicketModal(adsOffer)"
        >
          <i class="far fa-handshake mr-2"></i> Đề xuất hợp tác
        </button>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="8">
        <div class="my-1">
          <span>Dự án: </span>
          <span
            ><b>{{ adsOffer?.product_detail?.project_name }}</b></span
          >
        </div>
        <div class="my-1">
          <span>Trang chủ: </span>
          <span
            ><b>{{ adsOffer?.product_detail?.project_url }}</b></span
          >
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="my-1">
          <span>Số ngày chạy tối thiểu cam kết: </span>
          <span
            ><b>{{ adsOffer?.duration }}</b></span
          >
        </div>
        <div class="my-1">
          <span>Số ngân sách tối thiểu: </span>
          <span
            ><b>{{ adsOffer?.price | number }} đ</b></span
          >
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class="my-1">
          <span>Ngày đăng: </span>
          <span
            ><b>{{ adsOffer?.created_at | date : "dd/MM/yyyy" }}</b></span
          >
        </div>
        <div class="my-1">
          <span>CPC: </span>
          <span>
            <nz-tag [nzColor]="'var(--primaryColor)'"
              >{{ adsOffer?.product_detail?.cpc | number }} đ</nz-tag
            >
          </span>
        </div>
      </div>
    </div>
  </div>
  }
</div>

<app-cooperate-ticket #cooperateTicket></app-cooperate-ticket>
